.popup__form {
  margin-top: 27px;
}

.error-container {
  position: relative;
  display: block;
}

.popup__form_error {
  position: absolute;
  display: none;
  top: 2px;
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  line-height: 1;
}

.popup__form_error_active {
  display: block;
}